/* Import font face */
@font-face {
  font-family: 'SerpentineSans';
  src: local('SerpentineSans'), url(../../assets/fonts/serpentine_sans_icg_boldoblique.ttf) format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'EurocineRegular';
  src: local('EurocineRegular'), url(../../assets/fonts/Eurocine\ Regular.otf) format('truetype'); /*OpenType Font?*/
}

@font-face{
  font-family: 'EurocineOblique';
  src: local('EurocineOblique'), url(../../assets/fonts/Eurocine\ Oblique.otf) format('truetype');
}

@font-face{
  font-family: 'LatoBlack';
  src: local('LatoBlack'), url(../../assets/fonts/LatoBlack.ttf) format('truetype');
}

@font-face{
  font-family: 'LatoBold';
  src: local('LatoBold'), url(../../assets/fonts/LatoBold.ttf) format('truetype');
}

@font-face{
  font-family: 'LatoRegular';
  src: local('LatoRegular'), url(../../assets/fonts/LatoRegular.ttf) format('truetype');
}

@font-face{
  font-family: 'LatoLight';
  src: local('LatoLight'), url(../../assets/fonts/LatoLight.ttf) format('truetype');
}

@font-face{
  font-family: 'LatoThin';
  src: local('LatoThin'), url(../../assets/fonts/LatoThin.ttf) format('truetype');
}


/* Create class for font face */
.font-face-gm {
  font-family: 'SerpentineSans';
}
